HAM10000_images
test_images
train_images
*.csv
skin-cancer-mnist-ham10000.zip
logs

# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.fdb_latexmk